.overlay-container {
    background-color: black;
    height: 100vh;
    position: relative;
    width: 50%;
    &--left {
        width: 0%;
    }
    &--right {
        width: 0%;
    }
    &--content {
        .overlay-message-wrapper {
            // position: absolute;
            // top: 50%;
            // left: 0%0;
            // transform: translateY(-50%);
            
        }
        .overlay-bar-wrapper {
            // position: absolute;
            // top: 55%;
            // left: 50%;
            // transform: translate(-50%,-50%);
            width: 24.7em;
            .overlay-bar {
                width: 0;
                background-color: $dGray;
                height: 5px;
            }
        }
    }
    .overlay-wrapper {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 24.7em;
    }
}